// Elastic UI Stylesheets
@import "~@elastic/eui/src/theme_light.scss";
@import '~@elastic/eui/src/themes/eui/eui_colors_light.scss';
@import '~@elastic/eui/src/themes/eui/eui_globals.scss';
// Ag-Grid
@import '~react-component-library/dist/styles/agGrid/ag-grid.css';
@import '~react-component-library/dist/styles/agGrid/ag-theme-alpine.min.css';
// Tinymce
@import '~tinymce/skins/ui/oxide/skin.min.css';
@import '~tinymce/skins/ui/oxide/content.inline.css';

/*********************************************************************************************************
 * Fixing some of the Elastic CSS Issues
 *********************************************************************************************************/

// can be removed if elastic css is fixed
.euiPanel.euiPanel--danger {
  color: rgb(97, 26, 21);
  background-color: rgb(253, 236, 234);
}

// can be removed if elastic css is fixed
.euiPanel.euiPanel--success {
  color: rgb(30, 70, 32);
  background-color: rgb(237, 247, 237);
}

body {
  @include euiHeaderAffordForFixed;
}

/*********************************************************************************************************
 * App Level Custom CSS
 *********************************************************************************************************/

.loader-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* aligns on vertical for column */
  align-items: center; /* aligns on horizontal for column */
}
