.islvRoot {
  overflow-y: scroll;
  width: 100%;
  max-width: 36ch;
  background-color: #fafbfd;
  text-align: center;
  border: 1px solid #000000;
  padding: 1px;
}

.islvIsFlagged {
  border-left: 6px solid #a64452;
}

.islvIsNotFlagged {
  border-left: 6px solid transparent;
}